.container {
  margin: 2px;
} 
.sortedList select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: white;
  margin: 3px;
  outline: none;
}
.sortedList select:hover, select:active{
  border-color: brown;
  border: 1px solid brown;
}
.sortedList select option{
  background-color: white;
  cursor: pointer;
}
.sortedList, select .price{
  font-size: large;
  font-weight: bolder;
}


